/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 

 */

/*@import 'bootstrap-sprockets';*/
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Titan+One');

.jumbotron {
	text-align: center;
	background-image: url('food.jpeg');
	width: 100%;
	height: 600px;
	padding-top: 200px;
	color: white;
	
}
.jumbotron h1 {
	font-family: 'Titan One', cursive;
	font-size: 100px;
}
.border{
	margin: 50px;
	height:3px;
	width: 500px;
	border-bottom: 3px solid gray;
	
}

.index-text{
	font-size: 20px;
}